scipy==0.14.0
numpy==1.9.1
csc-pysparse==1.1.1.4
csc-utils==0.6.7
decorator==3.4.0
dill==0.2.2
Divisi2==2.2.5
Flask==0.10.1
gunicorn==19.1.1
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
networkx==1.9.1
-e git://github.com/ocelma/python-recsys.git@48df9c47374b9ddfce876e1118e222ebb9172680#egg=python_recsys-master
Werkzeug==0.9.6
