body, html {
  height: 100%;
}

html {
  font-family: 'Arvo', 'Iconsolata';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #999999;
  font-family: 'Arvo', 'Iconsolata', sans-serif;
  font-size: 13px;
  line-height: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
  color: white;
  margin: 0;
  background-color: rgb(0, 143, 255);
}

h1 {
  display: block;
  font-family: 'Arvo', 'Iconsolata', sans-serif;
  font-weight: 700;
  font-size: 80px;
  border: none;
  color: black;
  text-align: center;
}

h2 {
  display: block;
  font-family: 'Arvo', 'Iconsolata', sans-serif;
  font-weight: 700;
  font-size: 40px;
  border: none;
  color: white;
  text-align: center;
}

.top {
  background-color: white;
  border-bottom: rgb(182, 182, 182) solid 1px;
}

.center-container {
  padding-top: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 500px;
}

.vertical-center {
  margin: auto;
  position: relative;
  top:0; bottom:0; left: 0; right: 0;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.bar {
/*  display: inline-block; */
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 674px;
  min-width: 674px;
  /*min-height: 120px;*/
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 30px;
}

.shadow {
  min-height: 100%;
  /*margin-top: 10px;*/
  padding-top: 210px;
  background-color: rgba(215, 40, 40, 0.9);
  padding-bottom: 72px;
}

.info {
  color: white;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 700px;
  min-width: 700px;
  height: 300px;
  background-color: none;
  text-align: center;
  padding-top: 20px;
  font-family: 'Arvo', 'Iconsolata', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

h2.info {
  color: white;
}

.search-box {
  /*height: 75px;*/
  padding:10px 0px 20px 0px;
  background-color: none;
}

input[type=search] {
  background-color: rgba(0,0,0,0.2);
  line-height: 60px;
  height: 60px;
  width: 520px;
  font-size: 3em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input[type=search]:focus{
  outline: none;
}

/*input[type=search] {
  color: black;  
  text-align: left;
  cursor: pointer;
  display: block; 
  width: auto; 
  font-size: 3em;       
  background-color: rgba(0,0,0,0.2);
  border: white none 0px;
  top: 15px; left: 0; right: 0;
  padding: 0px 10px 0px 10px;
  color: #333;
  line-height: 60px;
  height: 60px;
  width: 520px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input[type=search]:focus{
  outline: none;
}*/


button.magnify {
  background-color: rgba(0,0,0,0.2);
  margin: none;
  /*position: relative;*/
  top: 15px; left: 0; right: 0;
  /*padding: 0px 10px 0px 10px;*/
  color: #333;
  height: 60px;
  border: white solid 0px;
  vertical-align: middle;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

button.magnify:hover{
  background-color: rgba(0,0,0,0.4)
}

p {
  padding: 41px;
  text-align: center;
  font-weight: 400;
  margin: 13px 0px;
}

p.info {
  /*padding:20px 40px 20px 20px;*/
  /*text-align: center;*/
  margin: 15px;
  text-align: left;
  font-weight: 400;
  height: 10px;
}

a.info {
  font-weight: 400;
  color: black;
  text-decoration: none;
  border-bottom: none;
  }

a {
  text-align: center;
  /*padding:50px;*/
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  text-decoration: none;
  border-bottom: none;
  }

a:hover {
  color: #FF9200;
  outline: none;
  text-decoration: none;
}

::-webkit-input-placeholder {
   color: rgba(255,255,255,0.9);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,0.9);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,0.9);  
}

.bottom {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 143, 255, 1);
  border-top: rgb(182, 182, 182) solid 1px;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  line-height: none;
}

a.bottom {
  color: rgba(0, 143, 255, 1);
  /*color: black;*/
  border-top: none;
  background: none;
  font-size: inherit;
  height: 60px;
}

a.bottom:hover {
  color: #FF9200;
  outline: none;
  text-decoration: none;
}

div.container {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding-top:15px;
  padding-bottom:15px;
}

div.left {
  vertical-align: middle;
  display: inline-block;
}

div.middle {
  vertical-align: middle;
  display: inline-block;
}

div.right {
  vertical-align: middle;
  display: inline-block;
}

.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}